PORT=3000

POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432

POSTGRES_DATABASE=<name>

JWT_ACCESS_SECRET=<secret>
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=<secret>
JWT_RESFRESH_EXPIRES_IN=15m